<div class="publication">
  <p>
    <strong><%= title %></strong><br>
    <%= author %><br>
    <em><%= journal || booktitle || publisher %></em>
    <% if (volume) { %>, <%= volume %><% } %>
    <% if (number) { %>(<%= number %>)<% } %>
    <% if (pages) { %>, <%= pages %><% } %>
    (<%= year %>)<br>
    <% if (doi) { %>
      <a href="https://doi.org/<%= doi %>">DOI: <%= doi %></a>
    <% } %>
    <% if (url && !doi) { %>
      <a href="<%= url %>">Link</a>
    <% } %>
  </p>
</div>